<!DOCTYPE html>
<html lang="en">
<head>
    <title>Backbone + Tastypie test</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/cities.css" />
</head>
<body>
    <header>
        <h1>Backbone + Tastypie test</h1>
    </header>

    <section>
        <div id="states" class="list"></div>
    </section>

    <section>
        <div id="state-detail">No state selected</div>
    </section>

    <section>
        <div id="cities" class="list"></div>
    </section>

    <!-- Templates -->
    <script type="text/template" id="tpl-header">
        <h1 id="title">Backbone + Tastypie test</h1>
        <button class="new">New State</button>
    </script>

    <script type="text/template" id="tpl-state-list-item">
        <a href="#states/<%= id %>"><%= abbreviation %></a>
    </script>

    <script type="text/template" id="tpl-state-details">
        <div class="state-details-form">
            <label for="state-id">Id:</label>
            <input type="text" id="state-id" name="id" value="<%= id %>" disabled />
            <label for="abbreviation">Abbreviation:</label>
            <input type="text" id="abbreviation" name="abbreviation" value="<%= abbreviation %>" required />
            <label for="source-state-id">Source State Id:</label>
            <input type="text" id="source-state-id" name="source_state_id" value="<%= source_state_id %>" required />
            <button class="save">Save</button>
            <button class="delete">Delete</button>
        </div>
    </script>

    <script type="text/template" id="tpl-city-list-item">
        <a href="#states/<%= state %>/cities/<%= id %>"><%= name %></a>
    </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cities.js"></script>
</body>
</html>