<!DOCTYPE html>
<html lang="en">
<head>
    <title>Backbone + Tastypie test</title>
</head>
<body>
    <div id="states"></div>

    <div id="state-detail">No state selected</div>

    <!-- Templates -->
    <script type="text/template" id="tpl-state-list-item">
        <a href="#states/<%= id %>"><%= abbreviation %></a>
    </script>

    <script type="text/template" id="tpl-state-details">
        <div class="state-details-form">
            <label for="state-id">Id:</label>
            <input type="text" id="state-id" name="id" value="<%= id %>" disabled />
            <label for="abbreviation">Abbreviation:</label>
            <input type="text" id="abbreviation" name="abbreviation" value="<%= abbreviation %>" required />
            <label for="source-state-id">Source State Id:</label>
            <input type="text" id="source-state-id" name="source_state_id" value="<%= source_state_id %>" required />
        </div>
    </script>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cities.js"></script>
</body>
</html>